.ms-assertion-container-wrapper {
    height: fit-content;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin-top: 1em;
}

.ms-assertion-container-wrapper:first-child {
    margin-top: 2em;
}

.ms-assertion-container-content-wrapper {
    display: flex;
    flex-direction: row;
}

.ms-assertion-container-content-visualbox {
    display: flex;
    flex-direction: column;
    width: 2.5em;
    /*noinspection CssUnresolvedCustomProperty*/
    background-color: var(--vscode-terminal-ansiRed);
}

.ms-assertion-container-content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.ms-assertion-container-header-violated {
    /*noinspection CssUnresolvedCustomProperty*/
    background-color: var(--vscode-terminal-ansiRed);
}

.ms-assertion-container-header-violated .ms-assertion-container-title-wrapper {
    margin-left: 0.5em;
}

.ms-assertion-container-header-fulfilled {
    /*noinspection CssUnresolvedCustomProperty*/
    background-color: var(--vscode-terminal-ansiGreen);
}

.ms-assertion-container-header-fulfilled .ms-assertion-container-title-wrapper {
    margin-left: 2.5em;
}

.ms-assertion-container-header-await-reevaluation {
    /*noinspection CssUnresolvedCustomProperty*/
    background-color: var(--vscode-testing-iconQueued);
}

.ms-assertion-container-header-await-reevaluation .ms-assertion-container-title-wrapper {
    margin-left: 0.5em;
}

.ms-assertion-container-header {
    height: fit-content;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-left: 0.25em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

.ms-assertion-container-title-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: fit-content;
}

.ms-assertion-container-title {
    display: flex;
    flex-direction: row;
    height: fit-content;

}

.ms-assertion-container-term {
    margin-left: 0.5em;
    font-family: Consolas, "Courier New", monospace;
    font-weight: normal;
    font-size: 14px;
    font-feature-settings: "liga" 0, "calt" 0;
    font-variation-settings: normal;
    line-height: 19px;
    letter-spacing: 0;
}

.ms-assertion-container-button-wrapper {
    display: flex;
    flex-direction: column;
    height: fit-content;
}