.ms-match-instance-wrapper {

}

.ms-match-instance-header {

}

.ms-match-instance-header-tag-wrapper {

}

.ms-match-instance-header-text-wrapper {

}

.ms-match-instance-content {

}

.ms-match-fix-variant-wrapper {
    width: 100%;
    margin-right: 1.75em;
}

.ms-match-fix-variant-header-wrapper {

}

.ms-match-fix-variant-header-tag {

}

.ms-match-fix-variant-header-title {
    flex: 1;
}

.ms-match-fix-variant-header-button-wrapper {

}

.ms-match-fix-variant-button-run {

}

.ms-match-fix-variant-content-info-statement-wrapper {

}

.ms-match-fix-variant-content-detail-wrapper {

}