.ms-match-instance-wrapper {

}

.ms-match-instance-header {

}

.ms-match-instance-header-tag-wrapper {

}

.ms-match-instance-header-text-wrapper {

}

.ms-match-instance-content {
    flex: 1;
}

.ms-match-instance-content-visualbox {
    width: 0.5em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    background-color: goldenrod;
}

.ms-match-fix-variant-wrapper {
    width: 100%;
}

.ms-match-fix-variant-header-wrapper {

}

.ms-match-fix-variant-header-tag {

}

.ms-match-fix-variant-header-title {
    flex: 1;
}

.ms-match-fix-variant-header-button-wrapper {
    margin-right: 0.5em;
}

.ms-match-fix-variant-button-run {

}

.ms-match-fix-variant-content-info-statement-wrapper {

}

.ms-match-fix-variant-content-detail-wrapper {

}